body {
    background-color: #f0f0f0;
}
.login-div {
    padding: 15px;
    border: 1px solid #525252;
    box-shadow: 0 0 2px #1f1f1f;
    display: inline-block;
}
.login-div input {
    display:block;
    margin-bottom: 7px;
}
/* ha az osztályok közt elől szerepel a blue akkor ^ -jel*/
.login-div input[class^="blue"] {
    border: 1px solid blue;
}
/* ha az osztályok közt hátul szerepel a red akkor $ -jel, ha mindgy hol akkor a * -jel */
.login-div input[class$="red"] {
    border: 1px solid red;
}
.login-div button:hover {
    box-shadow: 1px 1px 2px #c0c0c0;
}
.login-div input:focus {
    box-shadow: 1px 1px 2px #c0c0c0;
    border: none;
}

ul li:first-child {
    color: red;
}
ul li:nth-child(2) {
    text-decoration: underline;
}
ul li:last-child {
    background-color: lightcoral;
}