@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


h1 {
  color: coral;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  text-align: justify;
}
h3  {
  font-family: 'Roboto', sans-serif;
}
#bio-header {
  color: brown;
}
#skills-header {
  color: blue;
}
p {
  color: grey;
  font-size: 24px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: justify;
  text-transform: none;
  line-height: 40px;
  font-weight: 300;
}
img {
  width: 200px;
}